@import "tailwindcss";

.hide-navbar-footer ~ #root-layout nav,
.hide-navbar-footer ~ #root-layout footer {
  display: none !important;
}

body:has(.hide-navbar-footer) #root-layout > nav,
body:has(.hide-navbar-footer) #root-layout > footer {
  display: none !important;
}

.hide-navbar-footer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}